.ms-base-new {

  // Add-ons

  $bgs: (
    "violet": #EDE1FF,
    "yellow": #FFF9E3,
    "green": #E8FAE0,
    "orange": #FDE3CB,
    "blue": #D6E3FC,
    "aqua": #D6F7FC,
    "gray": $ms-color-bg-secondary,
  );

  @each $color, $hex in $bgs {
    .bg-#{$color} {
      background: $hex;
    }
  };

  .full-width {
    max-width: none !important;
  }

  .content-wrapper { // prevents vertical margins collapse
    &::after {
      content: "";
      display: table;
    }
  }

  // Page

  & {
    @extend .pb-5;
  }

  // Elements

  h2,
  h3 {
    overflow-wrap: anywhere;
  }

  h2 {
    color: $ms-color-text-black;
  }

  h3 {
    font-size: 1.8rem;
    color: $ms-color-text-darker;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.7rem;
    color: $ms-color-text-darker;
    font-family: os5;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  img {
    padding-top: 0;
    max-width: 100%;

    &.ms-base-image {
      padding-top: 3rem;
    }
  }

  section {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Classes

  .row {
    @extend .ms-s-offset;
  }

  .block {
    height: 100%;
    padding: 2.8rem;
    border-radius: 38px;
    box-shadow:
      0px 4px 8px 0px #0000000A,
      0px 0px 4px 0px #0000000F;

    h3 {
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
    a {
      font-size: 1.5rem;
      font-family: os4;
      text-decoration: none;
      color: $ms-color-text-black;
    }
  }

  .button {
    color: #FFFFFF;
    background: #AD43D7;
    margin-top: 0.7rem;

    &:hover {
      background: #C17ADD;
    }
    &:active {
      background: #780BA3 !important;
    }
  }

  .icon {
    flex: 0 0 76px;

    height: 76px;
    width: 76px;
    background: map-get($bgs, "violet");
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      padding: 0;
      margin: 0;
    }
  }

  .checkmark-list {
    $gap-x: 1.5rem;
    $gap-y: 20px;

    & {
      width: 100%;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      flex: 0 0 calc(50% - #{$gap-x / 2});

      display: flex;
      margin-bottom: $gap-y;

      list-style-type: none;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: url("../img/emotion-check-icon.svg");
        margin-top: 4px;
        margin-right: 14px;
      }
    }

    @include media-breakpoint-down(xl) {
      li {
        flex-basis: 100%;
      }
    }
  }

  .advantages-list {
    .row {
      & > div {
        @extend .pb-4;
      }
    }
    .li {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      column-gap: 1.5rem;
    }
    p {
      margin-bottom: 0;
    }
  }
}