.biorhythms {
  p {
    margin-bottom: 0;
  }
  .block-wrapper {
    @include media-breakpoint-up(lg) {
      flex: 0 0 calc((100% / 3) - 1.5rem);
    }
    @include media-breakpoint-down(lg) {
      flex: 1 0 50%;
    }
  }
  .checkmark-list {
    p {
      flex-basis: 100%;
    }
  }
  .features-list {
    @include media-breakpoint-up(md) {
      columns: 2;
    }
    li {
      margin-bottom: 1rem;
    }
  }
  #firstContentSectionCollapseBtn {
    text-decoration: none;

    &[aria-expanded="true"] {
      display: none;
    }

    p {
      color: $ms-color-text-black;
      font-family: os4;

      &::after {
        content: url("../img/emotion-icon-5.svg");
        margin-left: 15px;
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }
  #rhythms-carousel {
    $carousel-fade-transition: opacity .6s .1s;

    .indicators {
      position: relative;
      display: block;
      margin: 0;

      a {
        display: block;
        text-decoration: none;
        * {
          color: #AFAFAF;
        }
        &.active * {
          color: $ms-color-text-black;
        }
      }
    }
    .carousel-item {
      display: block;
    }
    .carousel-item.active,
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
      @include transition($carousel-fade-transition);
    }
  }
}