.bodysize {
    .header-content-list{
        li {
            &::marker {
                color: #FD7E14;
            }
        }
    }
    
}
.how-head{
    h2{
        font-size: 40px;
    }
    p{
        font-size: 18px;
        max-width: 549px;
    }
}
.how-list {
        flex-wrap: wrap;

        li {
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 8px;
        }

        @include media-breakpoint-down(md) {
            li {
                flex-basis: calc(50% - (#{$column-x-gap} / 2));
            }

            li:last-child {
                flex-basis: 100%;
            }
        }
    }