@import "@/sass/atom/base-new-vars";

.zinc {
  $colors: $bodyzinc-colors;

  .icon {
    background: map-get($colors, "main");

    &:not(.no-filter)>img {
      filter: map-get($colors, "main-filter");
    }
  }
  .col-lg-6{
    .btn-container{
      width: fit-content;
    }
    .btn{
      background-color: #252525;
      border-radius: 700px;
      color: #FFFFFF;
      padding: 12px 39px;
      margin-right: 10px;
    }

  h4{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    color: $ms-color-text-black;
  }
  .mb-4{
    list-style-type:disc;
    margin-left: 25px;
  }
}
  .text-center{
    padding-left: 10px;
    padding-right: 10px;
  }
  .block{
    padding: 2.7rem;
    h2{
      font-weight: 500;
      font-size: 2.6rem;
    }
    h3{
      margin-bottom: 0.9rem;
      line-height: 118.5%;
    }
    p{
      line-height: 147%;
    }
  }
}