.bodysize {
    .header-content-list{
        li {
            &::marker {
                color: #FD7E14;
            }
        }
    }
    
}
.how-head{
    h2{
        font-size: 40px;
    }
    p{
        font-size: 18px;
        max-width: 549px;
    }
}
.how-list {
        flex-wrap: wrap;

        li {
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 8px;
        }

        @include media-breakpoint-down(md) {
            li {
                flex-basis: calc(50% - (#{$column-x-gap} / 2));
            }

            li:last-child {
                flex-basis: 100%;
            }
        }
    }
.waist-info-section {
    h3 {
        font-size: 1.55rem;
        margin: 0px !important;
    }
    h2 {
        font-size: 3.08rem;
        margin-bottom: 1.9rem;
    }
}
.info-list {
        padding: 0px!important;
        p {
            margin-bottom: 1rem !important;
        }
        .card-icon-title-text {
            flex-grow: 1;
        }
    }
  .adaptive-padding {
    padding-right: 50%;
    font-size: 40px;
    margin: 0px !important;
     
    @media (max-width: 1300px) {
        padding-right: 30%;
    }     
    @media (max-width: 800px) {
        padding-right: 0%;
    }

}

.custom-card-padding .card-title-text {
    padding-right: 10rem !important;
    padding-bottom: 5rem !important;
}

    .text-alignment{
        flex: 1;
        @media (min-width: 1399px) {
            padding-left: 8rem !important;
            
        }}
        .card-alignment-big{
        @media (min-width: 1399px) {
            padding-right: 2.2rem !important;
            padding-left: 2.2rem !important;
            max-width: 28rem !important;
            
            
        }}
        .card-alignment-small{
        @media (min-width: 1399px) {
            max-width: 25rem !important;
            
        }}
.bodysize-container {
    .img-wrapper-big {
        max-height: 440px;
        width: auto;
    }
    .responsive-card {
        @media (max-width: map-get($body-size-breakpoints, "medium")) {
            min-height: 12rem;
        }
    }
    .row-cols-xl-3 {
        flex-wrap: wrap;
        
        @media (max-width: map-get($body-size-breakpoints, "wide")) {
            > .col:nth-child(1),
            > .col:nth-child(2) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            > .col:nth-child(3) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 30px;
            }
        }
        
        @media (max-width: map-get($body-size-breakpoints, "medium")) {
            > .col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.bodysize-container-1 {
    .waist-info-section {
        .info-list {
            @media (max-width: 1300px) {
                > .col-lg-4:nth-child(1),
                > .col-lg-4:nth-child(2) {
                    flex: 0 0 50% !important;
                    max-width: 50% !important;
                }
                
                > .col-lg-4:nth-child(3) {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                    margin-top: 30px;
                }
            }
        }
    }
}
    .dropdown-list {
        margin-top: 2.5rem;
        grid-template-columns: 1fr;
        gap: 2.5rem;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            margin-top: 4.625rem;
            gap: 3rem 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

        .blue-dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #1686FF;
            flex-shrink: 0;
            margin-top: 0.5em;
}

.bg-green {
    background: #e8fae0;
}
.bg-pink {
    background: #faebff;
}
.bg-violet {
    background: #ede1ff;
}
.bg-orange {
    background: #fde3cb;
}
.bg-blue {
    background: #d6e3fc;
}

.list-with-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $column-x-gap;
    row-gap: 2.5rem;

    @include media-breakpoint-down($base-breakpoint) {
        grid-template-columns: 1fr;
    }

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.5rem;
        align-items: start;
        align-self: stretch;
        height: 100%;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        @extend %p-smaller;
    }

    &.extended {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5rem;

        li {
            grid-template-rows: min-content;
            grid-template-columns: 1fr;
            gap: map-get($section-y-gap, "xxs");
        }

        h3 {
            margin-bottom: 1rem;
        }

        @include media-breakpoint-down($base-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
            row-gap: 1.5rem;

            li {
                padding: 3rem;
                border-radius: 38px;
                background: #f8f8f8;
            }      
        }
    }
}

.icon {
    background: map-get($colors, "bg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .039), 0 0 4px 0 rgba(0, 0, 0, .059);
    align-items: center;
    border-radius: 18px;
    display: flex;
    flex: 0 0 70px;
    height: 70px;
    justify-content: center;
    width: 70px;
}

.bodysize__h2 {
    color: #212529;
    font-family: os6;
    margin-bottom: 1.85rem;
    margin-top: 2rem;
    overflow-wrap: anywhere;
}

.bodysize__h3 {
    color: #444;
    font-family: os5;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow-wrap: anywhere;
}
