@import "../atom/base-new-vars";

.bodymass {
  $colors: $bodymass-colors;

  .icon {
    background: map-get($colors, "bg");

    &:not(.no-filter)>img {
      filter: map-get($colors, "main-filter");
    }
  }
}