.careers {
    .ms-btn-large {
        background: #248ce1;
        color: #ffffff;

        &:hover {
            background: #0b63e3;
        }
        &:active {
            background: #0a58ca !important;
        }
    }
}

.careers h1 {
    // Базовые настройки
    word-break: break-word;
    white-space: normal;
    hyphens: auto;

    // Настройки для японского и китайского языков
    html[lang="ja"],  
    html[lang="zh"] {
        word-break: break-all;      
        overflow-wrap: break-word; 
        hyphens: none;             
    }
}