.careers {
    .ms-btn-large {
        background: #248ce1;
        color: #ffffff;

        &:hover {
            background: #0b63e3;
        }
        &:active {
            background: #0a58ca !important;
        }
    }
}
