.careers {
    .ms-btn-large {
        background: #248ce1;
        color: #ffffff;

        &:hover {
            background: #0b63e3;
        }
        &:active {
            background: #0a58ca !important;
        }
    }
}

.careers h1 {
    // Базовые настройки
    word-break: break-word;
    white-space: normal;
    hyphens: auto;
}

// Настройки для специфичных языков
html[lang="ja"] h1, 
html[lang="zh"] h1 {
    word-break: break-all;
    overflow-wrap: anywhere;
    hyphens: none;
}