.electrolyte {
    .header-content-list li::marker {
        color: #656AA1;
    }

   .section {
    @media (max-width: 992px) {
        margin-top: 6rem;
    }
   } 

    .title-text-link-card {

        h3, p {
            margin-bottom: 1rem;
        }

        .card-image {
            top: 34%;  
            right: -10%;     
            width: 60%;     
            height: auto;

            @media (min-width: 1201px) and (max-width: 1400px) {
                top: 5%;
                right: -10%;
                width: 40%;
            }

            @media (min-width: 800px) and (max-width: 1200px) {
                top: 15%;
                right: -10%;
                width: 50%;
            }
        }

        a {
            color: #8079CC;

            &:hover {
                color: #8079CC;

                img {
                    filter: brightness(0.7) contrast(1.1) saturate(1.5) sepia(0.3) hue-rotate(10deg);
                }

                &::after {
                    background-color: #8079CC;
                }
            }

            span {
                font-size: medium;
                font-family: os4;
            }
        }
    }
}
