@import "@/sass/atom/base-new-vars";

.emotion {
    $colors: $emotion-colors;

    .ms-btn-large {
        background: map-get($colors, "main");

        &:hover {
            background: map-get($colors, "hover");
        }
        &:active {
            background: map-get($colors, "active") !important;
        }
    }

    .icon {
        background: map-get($colors, "bg");

        & > img {
            filter: map-get($colors, "main-filter");
        }
    }

    .checkmark-list {
        li {
            &::before {
                filter: map-get($colors, "main-filter");
            }
        }
    }

    .personality-traits-list {
        a {
            margin-top: 1.5rem;
        }
    }

    &.color-test {
        section:first-of-type {
            background: map-get($colors, "bg");
        }
    }
}
