.emotion {
  .button {
    color: #FFFFFF;
    background: #AD43D7;
    margin-top: 0.7rem;

    &:hover {
      background: #C17ADD;
    }
    &:active {
      background: #780BA3 !important;
    }
  }

  .icon {
    background: map-get($bgs-new, "violet");
  }

  .checkmark-list {
    li {
      &::before {
        filter: invert(43%) sepia(46%) saturate(7466%) hue-rotate(265deg) brightness(90%) contrast(85%);
      }
    }
  }

  .how-list {
    padding: 0;
    flex-wrap: wrap;

    li {
      flex-shrink: 0;
      list-style: none;
      display: block;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 0;
      font-family: os4;
    }

    @include media-breakpoint-down(md) {
      li {
        flex-basis: calc(50% - 0.75rem);
      }
      li:last-child {
        flex-basis: 100%;
      }
    }
  }

  .metrics-list {
    .row {
      @extend .mb-4;
    }
    .block {
      display: flex;
      flex-direction: column;
      p {
        flex: 1 0;
      }
    }
    a {
      margin-top: 1.5rem;
    }
    span::after {
      content: url("../img/emotion-icon-5.svg");
      margin-left: 15px;
    }
  }
}