@import "@/sass/atom/base-new-vars";

.emotion {
    $colors: $emotion-colors;

    p {
        margin-bottom: 4rem;
    }

    .how-list {
        flex-wrap: wrap;

        li {
            padding: 1rem;
            border-radius: 8px;
        }

        @include media-breakpoint-down(md) {
            li {
                flex-basis: calc(50% - (#{$column-x-gap} / 2));
            }

            li:last-child {
                flex-basis: 100%;
            }
        }
    }

    .ms-btn-large {
        background: map-get($colors, "main");

        &:hover {
            background: map-get($colors, "hover");
        }

        &:active {
            background: map-get($colors, "active") !important;
        }
    }

    .icon {
        background: map-get($colors, "bg");

        &>img {
            filter: map-get($colors, "main-filter");
        }
    }

    .personality-traits-list {
        a {
            margin-top: 1.5rem;
        }
    }

    &.color-test {
        section:first-of-type {
            background: map-get($colors, "bg");
        }
    }

    .header-content-list li::marker {
        color: #7b62fe;
    }

    .header-content-list-anxiety li::marker {
        color: #85B9CD;
    }

    .header-content-list-productivity li::marker {
        color: #DF9A5B;
    }

    .header-content-list-harmony li::marker {
        color: #BA90F9;
    }

    .header-content-list-independence li::marker {
        color: #FF8675;
    }

    .header-content-list-openness li::marker {
        color: #76E449;
    }

    .header-content-list-energy li::marker {
        color: #E4B921;
    }
}

.ms-btn-large {
    align-self: flex-start;
    color: #ffffff;
}

.ms-read-more-btn-emotion {
    color: #212529;
    display: inline-block;
    font-family: os4;
    font-size: 1.35rem;
    text-decoration: none;
}

.ms-read-more-btn-emotion span:after {
    content: url('../img/arrow-right.svg');
    display: inline-block;
    margin-left: 15px;
}

.icon {
    @extend %with-shadow;

    $icon-size: 70px;

    flex: 0 0 $icon-size;

    height: $icon-size;
    width: $icon-size;
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
        padding: 0;
        margin: 0;
    }
}

.PersonalityTraits-container {
    @media (max-width: 1400px) and (min-width: 856px) {
        .row > .col-lg-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .col-lg-6 .row .col-md-6 {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }

    @media (max-width: 855px) {
        .col-md-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .row > .col-lg-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
.custom-card-padding .card-title-text {
    padding-right: 14rem !important;
    padding-bottom: 5rem !important;
     @media (max-width: 500px){
        padding-right: 2rem !important;
        padding-bottom: 2rem !important;
    }
}
.card-big{
        @media (max-width: 1000px) {
            min-height: 28rem !important;  
        }}    
}

.biorhythms-container {
    .img-wrapper-big {
        max-height: 440px;
        width: auto;
    }
    .responsive-card {
        @media (max-width: map-get($body-size-breakpoints, "medium")) {
            min-height: 12rem;
        }
    }
    .row-cols-xl-3 {
        flex-wrap: wrap;
        
        @media (max-width: map-get($body-size-breakpoints, "wide")) {
            > .col:nth-child(1),
            > .col:nth-child(2) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            > .col:nth-child(3) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 30px;
            }
        }
        
        @media (max-width: map-get($body-size-breakpoints, "medium")) {
            > .col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}