.emotion {

  .ms-btn-large {
    background: #AD43D7;

    &:hover {
      background: #c17add;
    }
    &:active {
      background: #780ba3 !important;
    }
  }

  .icon {
    background: map-get($bgs-new, "violet");
  }

  .checkmark-list {
    li {
      &::before {
        filter: invert(43%) sepia(46%) saturate(7466%) hue-rotate(265deg) brightness(90%) contrast(85%);
      }
    }
  }

  .personality-traits-list {
    a {
      margin-top: 1.5rem;
    }

    span::after {
      content: url("/src/img/page/emotion/emotion-icon-5.svg");
      margin-left: 15px;
    }
  }
}