.iron {
    .header-content-list{
        li {
            &::marker {
                color: #FE460A;
            }
        }
    }
    &__section{
        ul{
            list-style-type: unset;
        }
        li{
            font-size: 18px;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
            line-height: 120%;
            &::marker{
                color: #FE460A;
            }
        }
        h2{
            font-size: 40px;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
            font-family: os5, sans-serif;
        }
        .btn-container{
            width: 250px;
            @include media-breakpoint-down(sm) {
                width: 210px;
            }
            a{
                width: 100%;
            }
        }
    }
    &__advantages{
        .icon{
            box-shadow: none;
            background-color: #F4F5F8;
        }
        h2{
            font-family: os5, sans-serif;
            font-size: 40px;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
        }
    }
    &__call-to-action{
        h2{
            font-family: os5, sans-serif;
            font-size: 40px!important;
            @include media-breakpoint-down(sm) {
                font-size: 24px!important;
            }
        }
        p{
            font-size: 20px!important;
            @include media-breakpoint-down(sm) {
                font-size: 16px!important;
            }
        }
        .text-start{
            max-width: 512px;
        }
    }

}