.ms-team {
  section {
    margin-top: 0;
    padding-top: 7vmin;
  }
  .page-header {
    margin-bottom: 0;
  }
  .members-list {
    padding-top: 3vmin;
    padding-bottom: 7vmin;
    column-gap: 8%;
    row-gap: 4rem;
  }
  .team-member {
    flex: 0 0;
    flex-basis: 19%;

    @include media-breakpoint-down(md) {
      flex-basis: 28%;
    }
    @include media-breakpoint-down(md) {
      flex-basis: 46%;
    }

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    h4 {
      color: #000000;
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 1rem;
    }
    h5 {
      font-family: os3;
      margin-top: .1rem;
      color: #8A8A8A;
    }
    img {
      aspect-ratio: 1 / 1 !important;
      max-width: 90%;
      object-fit: cover;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
  }
}