.vacancy-details {
    .grid {
        display: grid ;
        width: 100% ;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem ;
    }
    
    #no-padding{
        padding: 0;
    }
  }