@import "@/sass/atom/base-new-vars";

.vitamin {
    $colors: $vitamin-colors;

    .icon {
        background: map-get($colors, "bg");

        &:not(.no-filter) > img {
            filter: map-get($colors, "main-filter");
        }
    }

    .counters-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 1.5rem;

        h1 {
            color: map-get($colors, "main");
            margin: 0;
            margin-bottom: 0.4rem;
        }

        p {
            width: 75%;
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(#{xl}) {
            h1 {
                text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }
    }

    .vitamin-list {
        grid-template-columns: 1fr;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .header-content-list li::marker {
        color: #1686ff;
    }
}
