@import "../atom/base-new-vars";

.vitamin {
  $colors: $vitamin-colors;

  .icon {
    background: map-get($colors, "bg");
    
    & > img {
      filter: map-get($colors, "main-filter");
    }
  }

  .checkmark-list {
    li {
      &::before {
        filter: map-get($colors, "main-filter");
      }
    }
  }

  .vitamins-list {
    @extend .ms-s-offset;

    font-size: 1.5rem;

    $colors: #EAB839, #54A5D2, #0066CC;

    @for $idx from 1 through 3 {
      .vit-group:nth-child(#{$idx}) {
        $c: nth($colors, $idx);

        .vit-group-name {
          background-color: $c;
          color: #FFFFFF;
        }
  
        .vit-icon {
          color: $c !important;
        }
      }
    }

    .row {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

			padding: 0;
    }

    .vit-item {
      background-color: #FBF8F7;
      border: 1px solid #CFCBCB;
      border-top: none;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;

			display: grid;
			grid-template:
				"vit-header vit-desk vit-arrow" auto / 20% 1fr 8%;
			gap: .5rem;

      & > * {
        display: flex;
        align-items: center;
      }
    }

    .vit-header {
			grid-area: vit-header;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 2vw;
    }

    .vit-icon {
      font-family: os6;
      font-size: 4rem;
      line-height: 110%;
      justify-content: center;
    }
  
    .vit-name {
      color: $ms-color-text-gray;
      line-height: 130%;
    }

    .vit-desk {
			grid-area: vit-desk;
    }

    .vit-arrow {
			grid-area: vit-arrow;

      a {
        height: 100%;
        width: 100%;

        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      path {
        color: $ms-color-button;
        transition: color .2s;
      }

      &:hover {
        path {
          color: $ms-color-button-hover;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .vitamins-list {
      .vit-item {
				grid-template:
				"vit-header vit-arrow" auto
				"vit-desk ." auto / 1fr 8%;
				padding: 1rem 5% 1.6rem; 
      }

      .vit-header {
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        text-align: start;
      }

      .vit-name {
        margin-left: 1rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .vitamins-list { 
			&,
			.vit-group {
				padding: 0;
			}

      .vit-item {
				padding: 1rem calc(10% + .5rem) 1.6rem; // .ms-s-offset + bootstrap column offset

        border-right: none !important;
        border-left: none !important;
      }
    }
  }

	@include media-breakpoint-down(sm) {
    .vitamins-list { 
      .vit-item {
				padding: 1rem calc(5% + .5rem) 1.6rem;
      }
    }
  }
}