@import "@/sass/atom/base-new-vars";

.vitamin {
    $colors: $vitamin-colors;

    .icon {
        background: map-get($colors, "bg");

        &:not(.no-filter) > img {
            filter: map-get($colors, "main-filter");
        }
    }

    .checkmark-list {
        li {
            &::before {
                filter: map-get($colors, "main-filter");
            }
        }
    }

    .counters-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 1.5rem;

        h1 {
            color: map-get($colors, "main");
            margin: 0;
            margin-bottom: 0.4rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .vitamins-list {
        @extend .ms-s-offset;

        font-size: 1.5rem;

        $colors: #eab839, #54a5d2, #0066cc;

        @for $idx from 1 through 3 {
            .vit-group:nth-child(#{$idx}) {
                $c: nth($colors, $idx);

                .vit-group-name {
                    background-color: $c;
                    color: #ffffff;
                }

                .vit-name-short {
                    color: $c !important;
                }
            }
        }

        @include media-breakpoint-down(md) {
            &,
            .vit-group {
                padding: 0;
            }
        }

        .row {
            margin-top: 0 !important;
            margin-bottom: 0 !important;

            padding: 0;

            &.g-4 {
                margin-top: -1.5rem; // necessary for correct offsets

                //before we use new-header on each page,
                //need to set these styles for each page which is using new header
                @include media-breakpoint-down(sm) {
                    margin-top: 3rem; // adds margin for new header
                }
                @include media-breakpoint-down(m) {
                    margin-top: -4rem; // adds margin for new header
                }
            }
        }

        .bg {
            background: #000;
        }
    }
    .header-content-list li::marker {
        color: #1686ff;
    }
}
