@import "@/sass/atom/base-new-vars";

%with-shadow {
    box-shadow: 0px 4px 8px 0px #0000000a, 0px 0px 4px 0px #0000000f;
}

%p-smaller {
    font-size: 1.35rem;
    line-height: 147%;
    margin-bottom: 0;
}

.vitamin {
    flex: 1 0;
    font-family: os3;
    font-size: 1.5rem;

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    h1 { 
        font-family: os6; 
        font-size: clamp(2rem, calc(1.8rem + max(1.5dvw, 1.5dvh)), 4rem); 
        color: #000; 
        margin-bottom: 1rem;
    }
    h2 { 
        font-family: os6; 
        font-size: 2.5rem; 
        color: #212529; 
        margin-top: 2rem;
        margin-bottom: 1.85rem;
    }
    h3 { 
        font-family: os5; 
        font-size: 2rem; 
        color: #333; 
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    section, .row {
        @extend .ms-s-offset; 
    }

    section {
        max-width: 100%;
        padding: 0;
        margin: map-get($section-y-gap, "l") auto;

        &.bg-gray {
            padding: map-get($section-y-gap, "m") 0;
            background: #f8f8f8;
        }

        @include media-breakpoint-down($base-breakpoint) {
            margin: 2rem auto;
        }
    }

        .list-with-icons {
        padding: 0px !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $column-x-gap;
        row-gap: 2.5rem;

        @include media-breakpoint-down($base-breakpoint) {
            grid-template-columns: 1fr;
        }

        li {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1.5rem;
            align-items: start;
            align-self: stretch;
            height: 100%;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            @extend %p-smaller;
        }

        &.extended {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 5rem;

            li {
                grid-template-rows: min-content;
                grid-template-columns: 1fr;
                gap: map-get($section-y-gap, "xxs");
            }

            h3 {
                margin-bottom: 1rem;
            }

            @include media-breakpoint-down($base-breakpoint) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(md) {
                grid-template-columns: 1fr;
                row-gap: 1.5rem;

                li {
                    padding: 3rem;
                    border-radius: 38px;
                    background: #f8f8f8;
                }

                .icon {
                    order: 3;
                }
            }
        }
    }

    
    
    img { display: block; max-width: 100%; height: auto; }
    $colors: $vitamin-colors;

    .icon {
        background: map-get($colors, "bg");

        &:not(.no-filter) > img {
            filter: map-get($colors, "main-filter");
        }
    }

    .counters-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 1.5rem;

        h1 {
            color: map-get($colors, "main");
            margin: 0;
            margin-bottom: 0.4rem;
        }

        p {
            width: 75%;
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(#{xl}) {
            h1 {
                text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }
    }

    .vitamin-list {
        margin-top: 2.5rem;
        grid-template-columns: 1fr;
        gap: 2.5rem;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            margin-top: 4.625rem;
            gap: 3rem 1.5rem;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .header-content-list li::marker {
        color: #1686ff;
    }
}
