@import "@/sass/atom/base-new-vars";

.waist {
    $colors: $waist-colors;

    .icon {
        background: map-get($colors, "main");

        &:not(.no-filter) > img {
            filter: map-get($colors, "main-filter");
        }
    }
    .col-lg-6 {
        h4 {
            font-weight: 400;
            font-size: 1.7rem;
            margin-top: 2rem;
            margin-bottom: 0.6rem;
            color: $ms-color-text-black;
        }
        p {
            line-height: 118%;
        }
        .mb-4 {
            margin: 0 !important;
        }
        .ms-base-image {
            margin-right: 0 !important;
        }
    }
    .text-center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .block {
        padding: 2.7rem;
        h2 {
            font-weight: 500;
            font-size: 2.6rem;
        }
        h3 {
            margin-bottom: 0.9rem;
            line-height: 118.5%;
        }
        p {
            line-height: 147%;
        }
    }

  .header-content-list li::marker {
      color: #1686ff;
  }

  .no-mx-5 .card-title-text-image .align-self-center {
      margin-left: 0 !important;
      margin-right: 0 !important;
  }


    .why-waist-section {
        .block {
            box-shadow: none !important;
            align-items: center;
            text-align: start;
            column-gap: 8rem !important;

            h2 {
                margin-bottom: 1.5rem !important;
            }

            p {
                margin-bottom: 1.5rem !important;
                line-height: 120%;
            }

            h3 {
                line-height: 120%;
                margin-bottom: 0.7rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                color: #595959;

                li {
                    line-height: 1.6rem;
                    &::marker {
                        color: #1686ff;
                    }
                }
            }
        }
    }

  .our-advantages-section {
    h2 {
        font-size: 3.08rem;
        margin-bottom: 3.85rem;
    }
  }

  .waist-info-section {
    h2 {
        font-size: 3.08rem;
    }
    p {
        font-size: 1.39rem;
        line-height: 120%;
        max-width: 800px;
    }
    .info-list {
        padding: 0;
        p {
            margin-bottom: 1rem !important;
        }
        .card-icon-title-text {
            flex-grow: 1;
        }
    }
  }
}
