@import "../atom/base-new-vars";

.waist {
  $colors: $waist-colors;

  .icon {
    background: map-get($colors, "main");

    &:not(.no-filter)>img {
      filter: map-get($colors, "main-filter");
    }
  }
  .col-lg-6{
  h4{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    color: $ms-color-text-black;
  }
  p {
    line-height: 118%;
  }
  .mb-4{
    margin: 0 !important;
  }
  .ms-base-image{
    margin-right: 0 !important;
  }
}
  .text-center{
    padding-left: 10px;
    padding-right: 10px;
  }
  .block{
    padding: 2.7rem;
    h2{
      font-weight: 500;
      font-size: 2.6rem;
    }
    h3{
      margin-bottom: 0.9rem;
      line-height: 118.5%;
    }
    p{
      line-height: 147%;
    }
  }
}