@import "button.scss";
/*---------------- Login Page ----------------*/

.rr-login {
    margin: 0 4vmin;

    form {
        margin-top: 5vmin;
        color: #5d5d5d;
        background: $rr-color-gray-f2;
        padding: 26px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .logo {
        font-size: 5rem;
        color: $rr-color-black;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .resp-sharing-button {
        font-size: 1.6rem;
    }

    .pass-label {
        @extend .text-left;
        font-size: 1rem;
        margin-top: -1rem;
    }

    .btn-social {
        font-size: 2rem;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 5rem;
        margin-bottom: 30px;
    }

    input {
        @extend .form-control;
        @extend .form-control-lg;
        margin: 1rem 0;
        padding: 10px;

        &:focus {
            z-index: 2;
        }
    }
}