@import "color.scss";

$pw-screen-mm: 420px;
$pw-screen-sm: 576px;
$pw-screen-md: 768px;
$pw-screen-lg: 992px;

$navbar-height-lg: 75px;

html {
    width: 100%;
    height: 100%;
    font-family: os3; // -webkit-font-smoothing: antialiased;

    @media only screen and (min-width: ($pw-screen-lg)) {
        font-size: 13px;
    }

    @media only screen and (max-width: ($pw-screen-lg - 1)) {
        font-size: 12px;
    }
}


.ms-base-page {
    font-size: 1.9rem;
    @extend .container;

    section {
        @extend .justify-content-around;

        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5rem;

        @media only screen and (max-width: ($pw-screen-sm - 1)) {
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    h1 {
        margin-top: 1rem;
        font-family: os6;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 2rem;
        font-family: os6;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $rr-color-dark;
    }

    h3 {
        margin-top: 2rem;
        font-family: os4;
        font-size: 2rem;
        color: $rr-color-dark;
    }

    h4 {
        margin-top: 3rem;
        font-family: os4;
        font-size: 1.9rem;
        margin-bottom: 0.4rem;
        color: $rr-color-text-recruiter;
    }

    h5 {
        margin-top: 1.8rem;
        font-family: os4;
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        color: $rr-color-text-recruiter;
    }

    li,p {
        font-family: os3;
        font-size: 1.5rem;
        color: $pw-color-side-bar;

        // color: $rr-color-dark;
        margin-bottom: 3rem;
    }

    img {
        display: block;
        padding-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 30vmax;
    }
}