@import "font.scss";
@import "color.scss";

$pw-screen-mm: 420px;
$pw-screen-sm: 576px;
$pw-screen-md: 768px;
$pw-screen-lg: 992px;

html {
    width: 100%;
    height: 100%;
    font-family: os3; // -webkit-font-smoothing: antialiased;

    @media only screen and (min-width: $pw-screen-lg) {
        font-size: 13px;
    }

    @media only screen and (max-width: $pw-screen-lg - 1) {
        font-size: 12px;
    }


}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-muted {
    color: $cl-color-text-peter-aerts;
}

hr.small {
    max-width: 120px;
}


.vl {
    border-left: 1px solid #d2d6db;
    height: 1.7rem;
    //position: absolute;
    left: 50%;
    //margin-left: -3px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    top: 0;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/





// When resolution <= 1200px, hide short text and show full text
@media (max-width: $pw-screen-mm) {
    .hide-mm {
        display: none;
    }
}


/*---------------- Login Page ----------------*/
.z-100 {
    z-index: 100;
}

.z-400 {
    z-index: 400;
}

.z-500 {
    z-index: 500;
}

.z-550 {
    z-index: 550;
}

.z-1000 {
    z-index: 1000;
}

.z-1500 {
    z-index: 1500;
}

.rr-cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

.rr-nooverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}



/*---------------- Link ----------------*/
.rr-a {
    font-family: os4;
    text-decoration: none;
    color: $rr-color-blue-nav;

    &:hover {
        cursor: pointer;
        color: $rr-c-waterdrop;
        text-decoration: underline;
    }
}

.ms-error-404 {
    text-align: center;

    h1 {
        margin-top: 1rem;
        font-family: os6;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        font-family: os4;
        font-size: 2rem;
        color: $rr-color-black;
        margin-bottom: 3rem;
    }

    img {
        display: block;
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vmin;
    }
}