@import "base.scss";


.pw-button {
    @extend .btn;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: os6; // padding: 3rem 4÷rem;
    text-transform: uppercase;
    background-color: $rr-color-main;
    color: white;

    &:hover,
    &:focus,
    &:active {
        color: white;
        background-color: $rr-color-main-dark;
    }
}

.rr-btn-o {
    @extend .btn;
    border-radius: 2rem;
    border-color: $rr-color-main;
    font-size: 1rem;
    font-family: os6 !important; // padding: 3rem 4÷rem;
    text-transform: uppercase;
    background-color: white;
    color: $rr-color-main !important;

    &:hover {
        color: white !important;
        background-color: #728ee2
    }
}

.rr-btn-o-lg {
    @extend .rr-btn-o;

    padding: 1rem;
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: os6;
    // border-radius: 0.3rem;
    margin-right: 0.6rem;
    margin-bottom: 2rem;
    // margin-top: -1rem;
    // background-color: #5b9bc9;
    text-transform: none;
    transition: background-color 0.8s ease;

    @media only screen and (min-width: $pw-screen-md) {
        margin-top: -0.5rem;
    }

    @media only screen and (max-width: $pw-screen-md - 1) {
        margin-top: 0rem;
    }
}


.btn-service-all {
    // @extend .pw-btn-product;
    @extend .pw-button;
    margin-top: 6vmax;
    margin-bottom: 3vmax;
    //font-weight: 600; // letter-spacing: 1px;
    font-family: os6;
    padding: 0.9rem 2rem;
    border-radius: 2.1rem;
    color: white !important;
}

.rr-btn-large {
    @extend .pw-button;
    @extend .btn;
    @extend .btn-lg;
    font-family: os6;
    padding: 0.9rem 3+rem;
    border-radius: 2.1rem;
    color: white !important;
}

.pw-btn-product {
    @extend .pw-button;
    font-weight: 600; // letter-spacing: 1px;
    padding: 0.8rem 2+rem;
    border-radius: 2rem;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.cl-btn-material {
    width: 6rem;
    height: 6rem;
    padding: 10px 16px;
    border-radius: 3rem;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 2rem;
}

.cl-position-absolute {
    @extend .position-absolute;
    bottom: 0;
    margin-bottom: 5rem;
}

.unstyled-button {
    border: none !important;
    padding: 0;
    background: none;
}


.btn-recruiter-review {
    @extend .pw-button;
    @extend .pull-right;

    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: os6;
    border-radius: 0.3rem;
    color: white !important;
    margin-right: 0.6rem;
    margin-bottom: 2rem;
    // margin-top: -1rem;
    // background-color: #5b9bc9;
    transition: background-color 0.8s ease;

    @media only screen and (min-width: $pw-screen-md) {
        margin-top: -0.5rem;
    }

    @media only screen and (max-width: $pw-screen-md - 1) {
        margin-top: 0rem;
    }

    &:hover {
        // background-color: rgb(204, 63, 38);
        // background-color: HSLA(345, 100%, 60%, 1.00);
        background-color: $rr-color-text-recruiter;
    }
}


.btn-recruiter-review-o {
    @extend .rr-btn-o;
    @extend .pull-right;

    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: os6;
    border-radius: 0.3rem;
    margin-right: 0.6rem;
    margin-bottom: 2rem;
    transition: background-color 0.8s ease;

    @media only screen and (min-width: $pw-screen-md) {
        margin-top: -0.5rem;
    }

    @media only screen and (max-width: $pw-screen-md - 1) {
        margin-top: 0rem;
    }
}



.rr-btn-loadmore {
    @extend .pw-button;
    @extend .btn-lg;
    @extend .mx-auto;

    display: table;

    margin-bottom: 7rem;
    margin-top: 3rem;

    // background: transparent;
    background-color: #5b9bc9;

    font-family: os6;
    padding: 0.7rem 3rem;
    text-align: center;
    font-size: 1.2em;
    // color: white !important;
    transition: background-color 0.8s ease;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: $rr-color-text-recruiter;
    }
}


.rr-btn-group {
    @extend .form-group;
    margin-top: 2.8rem;

    label {
        font-size: 1.4rem;
        font-family: "os3";
        margin-bottom: 0.1rem;
    }

    .rr-btn-group-selected {
        background-color: $rr-color-main;
        color: white;
    }

    button {
        border-color: $rr-color-main;
        color: $rr-color-main;
        font-size: 1.4rem;

        &:hover {
            background-color: $rr-color-main-dark;
            color: white;
        }
    }
}



.rr-btn-lang {
    @extend .btn;
    @extend .btn-link;
    @extend .nav-link;
    color: white;

    &:active {
        color: #fff;
        background-color: $rr-color-text-recruiter;
        border: none;
    }

    &:focus {
        border: none;
    }

    &:hover {
        text-decoration: underline;
        color: white;
        font-size: 1rem;
    }
}

.rr-btn-amazon {
    @extend .btn;
    font-size: 1.2rem;
    color: $sc-color-gray-dark !important;
    font-family: os4;

    &:hover {
        cursor: pointer;
        color: $rr-color-main !important;
        text-decoration: none;
    }

    &:focus {
        box-shadow: none;
    }
}

.rr-btn-amazon-prime {
    @extend .btn;

    span {
        margin-top: 4rem;
    }

    // @extend .btn-xs;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-family: os4;
    // height: 2.6rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom:1rem;
    // text-transform: uppercase;
    // background-color: $rr-color-main;
    // background-color: $sc-color-gray-light;
    // border: 1px solid $rr-color-main;
    color: #4e4f51;
    background-color: $sc-color-gray-light;
    //color: $sc-color-gray-dark !important;

    &:hover,
    &:focus,
    &:active {
        color: white;
        background-color: #728ee2;
        // border: none;        
    }
}


.rr-btn-amazon-prime1 {
    @extend .btn;

    span {
        margin-top: 4rem;
    }

    // @extend .btn-xs;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-family: os4;
    // height: 2.6rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom:1rem;
    // text-transform: uppercase;
    // background-color: $rr-color-main;
    background-color: transparent;
    border: 1px solid $rr-color-main;
    color: $rr-color-main;

    &:hover,
    &:focus,
    &:active {
        color: white;
        background-color: #728ee2
    }
}

.ms-btn-apple {
    display: inline-block;
    width: 157px;
    height: 52px;
    background-size: cover;
    background-image: url(src/img/apple_btn.svg);

    &:hover,
    &:focus {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(108%) contrast(101%);
    }
}