@import "base.scss";


.pw-button {
    @extend .btn;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: os6; // padding: 3rem 4÷rem;
    text-transform: uppercase;
    background-color: $rr-color-main;
    color: white;

    &:hover,
    &:focus,
    &:active {
        color: white;
        background-color: $rr-color-main-dark;
    }
}

.rr-btn-o {
    @extend .btn;
    border-radius: 2rem;
    border-color: $rr-color-main;
    font-size: 1rem;
    font-family: os6 !important; // padding: 3rem 4÷rem;
    text-transform: uppercase;
    background-color: white;
    color: $rr-color-main !important;

    &:hover {
        color: white !important;
        background-color: #728ee2
    }
}


.rr-btn-large {
    @extend .pw-button;
    @extend .btn;
    @extend .btn-lg;
    font-family: os6;
    padding: 0.9rem 3+rem;
    border-radius: 2.1rem;
    color: white !important;
}

.pw-btn-product {
    @extend .pw-button;
    font-weight: 600; // letter-spacing: 1px;
    padding: 0.8rem 2+rem;
    border-radius: 2rem;
}

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.cl-btn-material {
    width: 6rem;
    height: 6rem;
    padding: 10px 16px;
    border-radius: 3rem;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 2rem;
}

.cl-position-absolute {
    @extend .position-absolute;
    bottom: 0;
    margin-bottom: 5rem;
}

.unstyled-button {
    border: none !important;
    padding: 0;
    background: none;
}



.rr-btn-lang {
    @extend .btn;
    @extend .btn-link;
    @extend .nav-link;
    color: white;

    &:active {
        color: #fff;
        background-color: $rr-color-text-recruiter;
        border: none;
    }

    &:focus {
        border: none;
    }

    &:hover {
        text-decoration: underline;
        color: white;
        font-size: 1rem;
    }
}

.rr-btn-amazon {
    @extend .btn;
    font-size: 1.2rem;
    color: $sc-color-gray-dark !important;
    font-family: os4;

    &:hover {
        cursor: pointer;
        color: $rr-color-main !important;
        text-decoration: none;
    }

    &:focus {
        box-shadow: none;
    }
}

.ms-btn-apple {
    display: inline-block;
    // width: 157px;
    // height: 52px;
    width: 150px;
    height: 50px;
    background-size: cover;
    background-image: url(src/img/apple_btn.svg);

    &:hover,
    &:focus {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(23deg) brightness(108%) contrast(101%);
    }
}