$brand-secondary: #118DF0;
$brand-overlay-color: #3b3d40;
$brand-primary: #fed136;
$gray-darkest: #222;
$ms-color-bg-card-home:#062F4F;


/////////
$pw-color-bg-secondary: #f4f4f5; // #f7f7f7;


// Icon OR Image
$pw-color-scarlet: #e74c3c;
$rr-c-waterdrop: #0080ff;
$pw-color-volt: #5997FA;
$cl-color-step: #00A0FF;


// Element Background 
$cl-color-gb-gray: #DCDCDC;
$cl-color-bg-card: #fafafa;
$pw-color-side-bar: #2A3F54; //#f0f0f0;
$cl-color-hover-panel: #2a5987;
$rr-color-bg-light: #F9F9F9;
$rr-color-gray-f2: #f2f2f2;

$ms-c-bg-gray: #E6E6E6;

$ms-c-main1: #2387d8;
$ms-c-main2: #e1666a;
$ms-c-main1_light: #539fde;

// Text 
$brand-darker: #444;
$cl-color-text-h4: #4A91C5;
$cl-color-text-gray-ccc: #ccc;
$rr-color-black: #73879C;
$rr-color-dark: #466382;
$rr-color-red: #e1666a;
$rr-c-orange: #BF4803;
$pw-color-button-text: #666;
$rr-color-green: #1abb9c;
$placeholder-text: #bbbbbb;
$rr-color-text-light: #e9e9e9;
$cl-color-text-panel2: rgba(255, 255, 255, 0.75); // #e7e7e7;
$cl-color-text-panel1: #e7e7e7; // #F2F5F7;
$rr-color-text-recruiter: #276ea3;
$rr-color-text-agency: #ca9e58;
$ms-color-button:#ff7214;
$ms-color-button-hover:#0066CC;
$ms-color-button-active:#336699;

$rr-color-main:#617fde;
$rr-color-main-dark:#516ab3;
$rr-color-gold: #ded661;
$rr-color-text-label: #999999;

$rr-color-coral: #E89025;

$sc-color-gray-dark: #9FA8AC;
$sc-color-gray-light: #D2D6DB;


.sc-color-gray-light {
    color: $sc-color-gray-light;
}

.rr-color-text-recruiter {
    color: $rr-color-text-recruiter;
}

.rr-color-black {
    color: $rr-color-black;
}

.cl-color-gray {
    color: #acb2b9;
}

.pw-color-bg-secondary {
    background-color: $pw-color-bg-secondary;
}