@import "color.scss";

.emotion {
  $bgs: (
    "violet": #EDE1FF,
    "yellow": #FFF9E3,
    "green": #E8FAE0,
    "orange": #FDE3CB,
    "blue": #D6E3FC,
    "aqua": #D6F7FC,
    "gray": $ms-color-bg-secondary,
  );

  @each $color, $hex in $bgs {
    .bg-#{$color} {
      background: $hex;
    }
  };

  h4 {
    font-size: 1.7rem;
    color: $ms-color-text-darker;
    font-family: os5;
  }

  h3 {
    font-size: 1.8rem;
    color: $ms-color-text-darker;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-wrap: anywhere;
  }

  h2 {
    color: $ms-color-text-black;
    overflow-wrap: anywhere;
  }

  .block {
    height: 100%;
    padding: 2.8rem;
    border-radius: 3rem;

    h3 {
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
  }

  .button {
    color: #FFFFFF;
    background: #AD43D7;

    &:hover {
      background: #C17ADD;
    }
    &:active {
      background: #780BA3 !important;
    }
  }

  .full-width {
    max-width: none !important;
  }

  .how-list {
    padding: 0;
    flex-wrap: wrap;

    li {
      flex-shrink: 0;
      list-style: none;
      display: block;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 0;
      font-family: os4;
    }
  }

  .why-list {
    padding: 0;
    columns: 2;

    li {
      $marker-width: 24px;

      list-style: none;
      display: flex;
      align-items: top;

      &::before {
        content: url("../img/emotion-check-icon.svg");
        margin-right: 14px;
      }
    }
  }
}