@import "color.scss";

.emotion {
  $bgs: (
    "violet": #EDE1FF,
    "yellow": #FFF9E3,
    "green": #E8FAE0,
    "orange": #FDE3CB,
    "blue": #D6E3FC,
    "aqua": #D6F7FC,
    "gray": $ms-color-bg-secondary,
  );

  @each $color, $hex in $bgs {
    .bg-#{$color} {
      background: $hex;
    }
  };

  h4 {
    font-size: 1.7rem;
    color: $ms-color-text-darker;
    font-family: os5;
    margin-top: 0;
  }

  h3 {
    font-size: 1.8rem;
    color: $ms-color-text-darker;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-wrap: anywhere;
  }

  h2 {
    color: $ms-color-text-black;
    overflow-wrap: anywhere;
  }

  section {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .row {
    @extend .ms-s-offset;
  }

  .block {
    height: 100%;
    padding: 2.8rem;
    border-radius: 3rem;

    h3 {
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
    a {
      font-size: 1.5rem;
      font-family: os4;
      text-decoration: none;
      color: $ms-color-text-black;
    }
  }

  .button {
    color: #FFFFFF;
    background: #AD43D7;

    &:hover {
      background: #C17ADD;
    }
    &:active {
      background: #780BA3 !important;
    }
  }

  .full-width {
    max-width: none !important;
  }

  .how-list {
    padding: 0;
    flex-wrap: wrap;

    li {
      flex-shrink: 0;
      list-style: none;
      display: block;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 0;
      font-family: os4;
    }
  }

  .why-list {
    display: flex;
    flex-wrap: wrap;

    p {
      flex: 1 0 50%;

      display: flex;
      padding-right: 10px;
      margin-bottom: 20px;

      &::before {
        content: url("../img/emotion-check-icon.svg");
        margin-top: 4px;
        margin-right: 14px;
      }
    }
  }

  .advantages-list {
    .li {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      column-gap: 1.5rem;
    }
    p {
      margin-bottom: 0;
    }
  }

  .metrics-list {
    .block {
      display: flex;
      flex-direction: column;
      p {
        flex: 1 0;
      }
    }
    a {
      margin-top: 1.5rem;
    }
    span::after {
      content: url("../img/emotion-icon-5.svg");
      margin-left: 15px;
    }
  }

  .icon {
    flex: 0 0 76px;

    height: 76px;
    width: 76px;
    background: map-get($bgs, "violet");
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      padding: 0;
      margin: 0;
    }
  }
}