
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-spin6:before { content: '\e804'; } /* '' */
.icon-share-2:before { content: '\e805'; } /* '' */
.icon-cancel-circled-1:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-bell:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-mobile:before { content: '\e80b'; } /* '' */
.icon-megaphone:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-flash-1:before { content: '\e80e'; } /* '' */
.icon-briefcase:before { content: '\e80f'; } /* '' */
.icon-flag-filled:before { content: '\e810'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e811'; } /* '' */
.icon-block:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-cog-1:before { content: '\e814'; } /* '' */
.icon-params:before { content: '\e815'; } /* '' */
.icon-off:before { content: '\e816'; } /* '' */
.icon-gauge:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-info-circled:before { content: '\e819'; } /* '' */
.icon-arrows-cw:before { content: '\e81a'; } /* '' */
.icon-home:before { content: '\e81b'; } /* '' */
.icon-block-1:before { content: '\e81c'; } /* '' */
.icon-dot-3:before { content: '\e81d'; } /* '' */
.icon-beaker-1:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */
.icon-trash-empty:before { content: '\e820'; } /* '' */
.icon-chart-pie:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-left-open-big:before { content: '\e824'; } /* '' */
.icon-left-open-mini:before { content: '\e825'; } /* '' */
.icon-right-open-big:before { content: '\e826'; } /* '' */
.icon-right-open-mini:before { content: '\e827'; } /* '' */
.icon-lock-2:before { content: '\e828'; } /* '' */
.icon-lock-3:before { content: '\e829'; } /* '' */
.icon-lock-open:before { content: '\e82a'; } /* '' */
.icon-lock-filled:before { content: '\e82b'; } /* '' */
.icon-lock-open-filled:before { content: '\e82c'; } /* '' */
.icon-calendar:before { content: '\e82d'; } /* '' */
.icon-clock:before { content: '\e82e'; } /* '' */
.icon-bookmark-empty:before { content: '\e82f'; } /* '' */
.icon-bookmark:before { content: '\e830'; } /* '' */
.icon-linkedin:before { content: '\e831'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e832'; } /* '' */
.icon-cancel-alt:before { content: '\e833'; } /* '' */
.icon-thumbs-up:before { content: '\e834'; } /* '' */
.icon-trash:before { content: '\e835'; } /* '' */
.icon-graduation-cap-1:before { content: '\e836'; } /* '' */
.icon-at-1:before { content: '\e837'; } /* '' */
.icon-attach:before { content: '\e838'; } /* '' */
.icon-upload-cloud-1:before { content: '\e839'; } /* '' */
.icon-down-dir:before { content: '\e83a'; } /* '' */
.icon-up-dir:before { content: '\e83b'; } /* '' */
.icon-left-dir:before { content: '\e83c'; } /* '' */
.icon-right-dir:before { content: '\e83d'; } /* '' */
.icon-thumbs-down:before { content: '\e83e'; } /* '' */
.icon-eye-off:before { content: '\e83f'; } /* '' */
.icon-eye:before { content: '\e840'; } /* '' */
.icon-chart-bar:before { content: '\e841'; } /* '' */
.icon-cloud-thunder:before { content: '\e842'; } /* '' */
.icon-cloud-flash:before { content: '\e843'; } /* '' */
.icon-pencil:before { content: '\e844'; } /* '' */
.icon-record-outline:before { content: '\e845'; } /* '' */
.icon-record:before { content: '\e846'; } /* '' */
.icon-plus:before { content: '\e847'; } /* '' */
.icon-plus-1:before { content: '\e848'; } /* '' */
.icon-tags:before { content: '\e849'; } /* '' */
.icon-location-outline:before { content: '\e84a'; } /* '' */
.icon-certificate-outline:before { content: '\e84b'; } /* '' */
.icon-certificate:before { content: '\e84c'; } /* '' */
.icon-certificate-1:before { content: '\e84d'; } /* '' */
.icon-location:before { content: '\e84e'; } /* '' */
.icon-award-empty:before { content: '\e84f'; } /* '' */
.icon-award:before { content: '\e850'; } /* '' */
.icon-lightbulb:before { content: '\e851'; } /* '' */
.icon-user-1:before { content: '\e852'; } /* '' */
.icon-facebook-1:before { content: '\e853'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-upload-cloud:before { content: '\f014'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
.icon-link-1:before { content: '\f07b'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-share-1:before { content: '\f1e0'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */
.icon-chart-pie-1:before { content: '\f200'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-gg:before { content: '\f260'; } /* '' */
.icon-gg-circle:before { content: '\f261'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-facebook-2:before { content: '\f300'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect-1:before { content: '\f31b'; } /* '' */