footer {
    background-color: $pw-color-side-bar; //$brand-overlay-color;
    width: 100%;
    color: white;


    .social-icon svg {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1.5rem;
        fill: #fff;
    }

    .footer-link {
        font-size: 1.5rem;
        font-family: os3;
        color: white;

        &:hover {
            cursor: pointer;
            color: #79B6F2;
            text-decoration: underline;
        }
    }

    p {
        padding-top: 2rem;
        margin-top: 0.5rem;
        color: #AAA;
    }

    a {
        text-decoration: none;
        color: #AAA;

        &:hover {
            color: #fafafa;
        }
    }

}