@import 'font.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'base.scss';
@import 'navigation.scss';
@import 'section.scss';
// @import 'contact-us.scss';
@import 'footer.scss';
@import 'private-policy.scss';
@import 'iron-image.scss';
@import 'button.scss';


.dropdown-menu { 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
    margin-top: 0px !important; 
    width: 100% !important; 
} 