@import "color.scss";

.rr-navbar {
  @extend .navbar;
  
  .title {
    // position: static;
    left: 40%;
    transform: translate(-40%, 0);
  }

  .lButton {
    @extend .btn;
    @extend .btn-link;
    margin-left: -1rem;
    margin-bottom: -2.7rem;
    margin-top: -2rem;
  }

}


//-------------------------------------------------------------------------------------------------
.ms-navbar-nav {
  // @extend .navbar-nav;
  font-size: 1.6rem;
}