@import "color.scss";

.ms-navbar-nav {
  @extend .navbar;
  @extend .container;
  font-size: 1.6rem;

  @media only screen and (max-width: 991px) {
    // styles for the nav element when screen is small
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }

  //------- the part of the nav-bar that collapses ---------
  .collapse {

    .nav-item:not(:last-child) {
      margin-left: 8rem;
    }

    .nav-item:last-child{
      margin-left: 25rem;
    }

    @media only screen and (max-width: 1300px) {
      .nav-item:last-child{
        margin-left: 15rem;
      }
    }

    @media only screen and (max-width: 991px) {
      .nav-item:not(:last-child) {
        margin-left: 0rem;
      }

      .nav-item:last-child{
        margin-left: 0rem;
      }

      .nav-link{
        display: inline-block;
      }

    }

    .dropdown ul{
      border-radius: 8px;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
    }

    .nav-link{
      font-size: 1.5rem;
      color: #212529;

      &:hover{
        color: #276EA3;
      }

      .show {
        display: none;
        display: block;
      }
    }

  }
}

.dropdown-container{
  position: relative;
}

.dropdown-position{
  position: absolute !important;
  transform: translate3d(-10px, -15px, 0px) !important;
}
