//---------------------------------------------------------------------------------------------------------------------
.rr-s {
  padding: 10vmin 0;
  font-family: os4;
  position: relative;
  display: table;
  width: 100%;
  -webkit-background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


//---------------------------------------------------------------------------------------------------------------------
.ms-s-header {
  @extend .rr-s;

  .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
  }

  h1 {
    padding-left: 3rem;
    padding-right: 5rem;
    font-weight: 600;
    font-family: os4;
    font-size: 4.2rem;
    padding-bottom: 2vmin;

    @media only screen and (max-width: ($pw-screen-sm - 1)) {
      font-size: 3rem;
    }
  }

  h4 {
    color: $cl-color-text-peter-aerts;
    // font-weight: 300;
    font-size: 2rem;
    margin-bottom: 20vmin;
  }


  &:before {
    content: "";
    background-image: url("https://martspec.com/img/logo4.512.webp");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }
}


//---------------------------------------------------------------------------------------------------------------------
.ms-s-offset {
  @extend .justify-content-around;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: ($pw-screen-sm - 1)) {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

//---------------------------------------------------------------------------------------------------------------------
.rr-s-product {
  @extend .rr-s;

  outline: none;
  letter-spacing: normal;
  font-family: os4;

  h1 {
    font-family: os6;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: os4;
    margin-bottom: 1rem;
    color: $brand-darker;
  }

  p {
    font-size: 1.1rem;
    color: $rr-c-orange;
  }
}
