//---------------------------------------------------------------------------------------------------------------------
.ms-s {
  padding: 10vmin 0;
  font-family: os4;
  position: relative;
  display: table;
  width: 100%;
  -webkit-background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//---------------------------------------------------------------------------------------------------------------------
.ms-s-header {
  @extend .ms-s;
  padding-top: 5vmin;
  padding-bottom: 15vmin;

  h1 {
    font-family: heading-400;
    font-size: 3rem;
    padding-bottom: 2vmin;

    @media only screen and (max-width: ($ms-screen-sm - 1)) {
      font-size: 2rem;
      padding-bottom: 1vmin;
    }
  }

  h4 {
    color: $ms-color-text-blue-light;
    font-size: 2rem;
    padding-bottom: 2vmin;

    @media only screen and (max-width: ($ms-screen-sm - 1)) {
      font-size: 1.4rem;
    }
  }


  &:before {
    content: "";
    background: linear-gradient(rgba(162, 205, 236, 0.17), rgba(74, 145, 196, 0));
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .watches-img {
    transform: translateX(-10vmin);

    @media screen and (max-width: ($ms-screen-sm - 1)) {
      transform: translateX(5vmin);
    }
  }
}


//---------------------------------------------------------------------------------------------------------------------
.ms-s-offset {
  @extend .justify-content-around;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: ($ms-screen-sm - 1)) {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

//---------------------------------------------------------------------------------------------------------------------
.ms-s-product {
  @extend .ms-s;

  outline: none;
  letter-spacing: normal;
  font-family: os4;

  h1 {
    font-family: os6;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: os4;
    margin-bottom: 1rem;
    color: $ms-color-text-darker;
  }

  p {
    font-size: 1.1rem;
    color: $ms-color-text-orange;
  }
}
