@import "color.scss";
@import "font.scss";



#sidebar-container {
    min-height: 100vh;
    padding-bottom: 40px;
}

.sidebar-container {
    background-color: $pw-color-side-bar;
    padding: 0;
}

/* Separators */
.sidebar-separator-title {
    background-color: $pw-color-side-bar;
    height: 35px;
}

.sidebar-separator {
    background-color: $pw-color-side-bar;
    height: 25px;
}

.pw-sidebar-noborder {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
}

.cl-panel-item-base {
    @extend .text-muted;
    @extend .pw-sidebar-noborder;
    background: $pw-color-side-bar;
    cursor: pointer;
    &:hover {
        background-color: $cl-color-hover-panel !important;
    }
    &:focus {
        background-color: $cl-color-hover-panel !important;
    }
}

.cl-panel-item-level2 {
    @extend .cl-panel-item-base;    
    font-family: os4;
    color: $cl-color-text-panel2 !important;
    i {
        color: $cl-color-text-panel2;
    }
}

.cl-panel-item-level1 {
    @extend .cl-panel-item-base;
    font-family: os4;
    font-size: 1.2rem;
    color: $cl-color-text-panel1 !important;
}


.pw-submenu-bage {
    @extend .badge;
    @extend .badge-pill;
    @extend .badge-secondary;
    @extend .ml-2;
}


/* Closed submenu icon */
#topbar-container .list-group .list-group-item[aria-expanded="false"] .pw-submenu-icon::after,
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .pw-submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Opened submenu icon */
#topbar-container .list-group .list-group-item[aria-expanded="true"] .pw-submenu-icon::after,
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .pw-submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}