.rr-status-page {
    @extend .text-center;

    h1 {
        margin-top: 1rem;
        font-family: os6;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        font-family: os4;
        font-size: 2rem;
        color: $rr-color-black;
        margin-bottom: 3rem;
    }

    img {
        display: block;
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vmin;
    }
}

.rr-done-review {
    @extend .rr-status-page;

    img {
        margin-bottom: -15%;
        margin-top: -10%;
    }

}

.rr-securityCode {
    @extend .rr-status-page;

    h1 {
        margin-top: 1.5rem;
    }

    img {
        max-width: 40vmin;

        @media only screen and (max-width: $pw-screen-mm - 1) {
            max-width: 90vmin;
        }

        margin-bottom: 3rem;
    }
}