@import 'font';

.ms-team {
  section {
    margin-top: 0;
    padding-top: 7vmin;

    @media only screen and (max-width: ($ms-screen-md - 1)) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  h4 {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  h5 {
    font-family: os3;
    margin-top: .1rem;
    color: #8A8A8A;
  }
  .members-list {
    column-gap: 6vmin;
    row-gap: 8vmin;
    padding-top: 3vmin;
    padding-bottom: 10vmin;

    & > div {
      flex: 0 1 min-content;
      
      img {
        object-fit: cover;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
    }
  }
}