@import "font.scss";
@import "color.scss";
@import "base.scss";

.vitamin {
  $green-light: #EEFDE7;
  $blue-light: #EFF9FF;
  $blue-accent: $ms-color-button-hover;

  * {
    line-height: 150%;
    font-family: os4;
  }

  h2 {
    color: $blue-accent;
    font-size: 2.5rem;
  }

  h3 {
    font-family: os6;
    font-size: 1.8rem;
    color: $ms-color-text-darker;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .vitamin-about > * {
    color: $ms-color-text-black;
  }

  .vitamin-block {
    padding: 3rem;
    border-radius: 3rem;
    text-align: left;

    &.row > * {
      padding: 0 !important;
    }

    &.bg-blue {
      background-color: $blue-light;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
    
    &.bg-green {
      background-color: $green-light;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
    
    p {
      font-size: 1.3rem;
      color: $ms-color-text-gray;
      margin-bottom: 0;
    }

    .vitamin-img-50 {
      max-width: 100%;
      
      @media screen and (min-width: $ms-screen-md) {
        height: 244px;
        width: 271px;
      }
    }

    .vitamin-img-100 {
      max-width: 100%;
      
      @media screen and (min-width: $ms-screen-md) {
        height: auto;
        width: 100%;
      }
    }
  }

  .vitamins-list {
    font-size: 1.4rem;

    $colors: #EAB839, #54A5D2, #0066CC;

    @for $idx from 1 through 3 {
      section:nth-child(#{$idx}) {
        $c: nth($colors, $idx);

        .vit-head {
          background-color: $c;
          color: #FFFFFF;
        }
  
        .vit-icon {
          color: $c !important;
        }
      }
    }

    section {
      margin-top: 0 !important;
    }

    .vit-item {
      background-color: #FBF8F7;
      border: 1px solid #CFCBCB;
      border-top: none;

      & > * {
        display: flex;
        align-items: center;
      }
    }

    .vit-icon {
      font-family: os6;
      font-size: 4rem;
      line-height: 110%;
    }
  
    .vit-name {
      color: $ms-color-text-gray;
      line-height: 130%;
    }
    .vit-arrow,
    .vit-icon {
      justify-content: center;
      flex: 0 0;
    }
  }

  @media only screen and (max-width: ($ms-screen-sm - 1)) {
    div:first-child {
      align-items: baseline !important;
    }

    section {
      margin-left: 0;
      margin-right: 0;
    }

    .vit-item {
      border-right: none !important;
      border-left: none !important;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .vit-name {
      margin-left: 1rem;
    }

    .vit-arrow {
      flex-direction: column;
      justify-content: start;
    }
  }
}