@import "font.scss";
@import "color.scss";

.vitamin {

  * {
    line-height: 150%;
  }

  h3 {
    font-family: os6;
    font-size: 1.8rem;
    color: $ms-color-text-black;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}