@import "color.scss";

//--------------------------------------------------------------------------------------------------
.rr-widgit-star-simple {
    margin-right: 1.3rem;

    @media only screen and (min-width: $pw-screen-md) {
        margin-top: 1.5rem;
    }

    @media only screen and (max-width: $pw-screen-sm - 1) {
        margin-top: 2rem;
    }

    .value {
        font-size: 2rem;
        font-family: "os6";
        // color: $brand-primary;
        color: $rr-color-main;

        i {
            font-size: 2rem;
        }
    }

    .name {
        margin-top: -0.6rem;
        color: $cl-color-hover-panel;
        font-family: "os4";
        font-size: 1.4rem;
    }
}

//--------------------------------------------------------------------------------------------------
.widget-piex {
    @extend .text-center;

    a {
        font-family: os4;
        text-decoration: none;
        color: $rr-color-black;
    }

    div:hover {
        color: $brand-darker;
        cursor: pointer;
    }

    .count {
        padding-top: 1.5rem;
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: "os6";

        span {
            font-size: 1rem;
        }
    }

    .name {
        margin-top: -0.65rem;
        font-size: 1.3rem;
        font-family: "os3";

        i {
            font-size: 1rem;
        }
    }

    margin-bottom: 1.5rem;
    color: $rr-color-black;


    figure {
        margin-top: 0.5rem;

        ul {
            // margin: 0;
            padding: 0 0 0 0.9rem;
            list-style: none;
            // margin-top:  -1rem;
        }

        li {
            margin: 0 0 0.1rem;
            padding: 0;
            text-align: left;
        }


        .shape-circle {
            display: inline-block;
            vertical-align: middle;
            width: 0.8rem;
            height: 0.8rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}


//--------------------------------------------------------------------------------------------------
.rr-widget-star {
    @extend .text-center;
    margin-top: 2rem;
    font-family: "os4";
    color: $rr-color-black;

    .title {
        font-size: 1.4rem;
        white-space: nowrap;
        width: 150px;
    }

    .rating {
        font-size: 1.7rem;
        padding-left: 0.4rem;
        margin-top: -0.3rem;
    }

    &:hover {
        cursor: pointer;
    }
}

//--------------------------------------------------------------------------------------------------
.rr-widget-star-small {
    margin-top: 0.5rem;
    margin-left: -0.3rem;
    width: 15rem;
    font-family: "os4";
    color: $rr-color-black;

    .title {
        font-size: 1rem;
        white-space: nowrap;
        margin-left: 0.3rem;
        margin-top: -0.3rem;
        color: $sc-color-gray-dark;
    }

    .rating {
        font-size: 1rem;
        padding-left: 0.4rem;
        margin-top: -0.3rem;
    }

    &:hover {
        cursor: pointer;
    }
}

//--------------------------------------------------------------------------------------------------
.rr-widget-subitem {
    // margin-left: 1rem;
    margin-top: 2rem;
    font-family: "os4";
    // color: $rr-color-black;
    color: $sc-color-gray-dark;
    // @extend .text-center;
    font-size: 1rem;

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: os6;
        font-weight: bold;
        color: $rr-color-dark;
    }

    .value {
        // padding-left: 0.4rem;
        // margin-top: -0.3rem;
        font-family: os4;
    }
}