@import "@/sass/atom/base-new-vars";

.color-test {
    h1 {
        margin: 0;
        margin-bottom: 4rem;
    }

    h2 {
        font-family: os6;
        margin-bottom: 2rem;
    }

    p {
        margin: 0 0 4rem 0;
    }

    section:first-of-type {
        padding: map-get($section-y-gap, "m") 0;

        .ms-btn-large {
            margin-top: 2.7rem;
        }
    }

    .mb-7 {
        margin-bottom: 2.7rem;
    }

    .color-test-description {
        font-size: 32px;
        line-height: 1.7;
        max-width: 1600px;
    }

    @media (max-width: 992px) {
        .color-test-description {
            font-size: 22px;
        }
    }
}

.color-test__h2 {
    margin: 8rem 0 2rem 0;
}