.biorhythms {

  .columns-with-collapse {
    $columns-count: 2;

    display: grid;
    grid-template: max-content / repeat($columns-count, 1fr);
    gap: $column-x-gap;

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }
  }

  .ms-read-more-btn {
    margin-top: 1.5rem;
  }

  .ms-content-collapse-btn {
    &[aria-expanded="true"] {
      display: none;
    }

    span {
      &::after {
        transform: rotate(90deg);
      }
    }
  }
  
  .checkmark-list {
    grid-template-columns: 1fr;
    gap: 1.3rem;
  }
  .features-list {
    @include media-breakpoint-up(md) {
      columns: 2;
    }
    li {
      margin-bottom: 1rem;
    }
  }
  
  #rhythms-carousel {
    $carousel-fade-transition: opacity .6s .1s;

    .indicators {
      position: relative;
      display: block;
      margin: 0;

      a {
        display: block;
        text-decoration: none;
        * {
          color: #AFAFAF;
        }
        &.active * {
          color: $ms-color-text-black;
        }
      }
    }
    .carousel-item {
      display: block;
    }
    .carousel-item.active,
    .carousel-item-next.carousel-item-start,
    .carousel-item-prev.carousel-item-end {
      @include transition($carousel-fade-transition);
    }
  }
}