@import "../../atom/base-new-vars";

.color-test {
	h1 {
		margin: 0;
		margin-bottom: 2rem;
	}

	section:first-of-type {
		padding: map-get($section-y-gap, "m") 0;

		.ms-btn-large {
			margin-top: 2.7rem;
		}
	}

	.mb-7 {
    margin-bottom: 2.7rem; // todo: move to base-new when needed
  }

	.test-result {
		.row:not(:only-child):not(:last-child) {
      margin-bottom: 5.3rem;
    }

		.block.bg-gray {
			background-color: #F9F9F9;
			padding: 1.3rem 2rem;
			border-radius: 1.5rem;

			h3 {
				color: $ms-color-text-black;
				margin-bottom: .7rem;
			}
		}

		.block.bg-violet,
		.block.bg-yellow {
			border-radius: 2rem;
		}

		.test-result-icon {
			height: 1.1rem;
			width: 1.1rem;

			$icon-color: var(--color);

			border: 1px solid $icon-color;
			border-radius: 50%;

			&.NULL {
				background: transparent;
			}
			&.HALF {
				background: linear-gradient(90deg, $icon-color 50%, transparent 50%); 
			}
			&.FULL {
				background: $icon-color;
			}
		}

		.test-result-blur {
			margin-top: -1.3rem;
			margin-left: -1rem;
		}
	}

	.block {
		display: flex;
		flex-direction: column;

		&.test-principles {
			gap: 3rem;

			@include media-breakpoint-up(sm) {
				padding: map-get($section-y-gap, "m");
			}
		}
	}

	.sector {
		border: none;
		outline: none;
		height: 210px;
		width: 100%;
		border-radius: 1.5rem;
	}
}
