@import "../../atom/base-new-vars";

.color-test {
	h1 {
		margin: 0;
		margin-bottom: 2rem;
	}

	section:first-of-type {
		padding: map-get($section-y-gap, "m") 0;
	}

	.test-result {
		.row:not(:only-child):not(:last-child) {
      margin-bottom: map-get($section-y-gap, "xs");
    }

		.block.bg-gray {
			background-color: #F9F9F9;
			padding: 1.3rem 2rem;
			border-radius: 1.5rem;

			h3 {
				color: $ms-color-text-black;
				margin-bottom: .5rem;
			}
		}
	}

	.block {
		display: flex;
		flex-direction: column;

		&.test-principles {
			padding: map-get($section-y-gap, "m");
			gap: 3rem;
		}
	}

	.sector {
		border: none;
		outline: none;
		height: 210px;
		width: 100%;
		border-radius: 1.5rem;
	}
}
