@import "../../atom/base-new-vars";

.color-test {
	h1 {
		margin: 0;
		margin-bottom: 2rem;
	}

	section:first-of-type {
		padding: map-get($section-y-gap, "m") 0;
	}

	.test-result {
		.row:not(:only-child):not(:last-child) {
      margin-bottom: map-get($section-y-gap, "xs");
    }
	}

	.block {
		padding: map-get($section-y-gap, "m");
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.sector {
		border: none;
		outline: none;
		height: 210px;
		width: 100%;
		border-radius: 1.5rem;
	}
}
