.personality-trait {

  strong {
    font-family: os4;
  }

  p,
  ul,
  .content-wrapper {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: disc;
    list-style: inside;

    li {
      margin-bottom: .2rem;
      color: #595959;
    }
  }

  .content-wrapper {
    margin-bottom: map-get($section-y-gap, "xxs");
  }

  .contents-list {
    position: sticky;
    top: 2rem;
    background: #F8F8F8;
    border-radius: 2.4rem;
    padding: 2.25rem;

    @include media-breakpoint-down($base-breakpoint) {
      margin-bottom: map-get($section-y-gap, "xs");
    }
    
    h3 {
      font-family: os5;
      margin-top: 0;
    }
    
    #contents-list {
      gap: 0.5rem;

      a {
        text-decoration: none;
        font-size: 1.35rem;
        color: #595959;
        padding: 0;
        background: transparent;
        border-color: transparent;
      }
      a:hover,
      a:focus,
      a.active {
        color: #AD43D7;
      }
    }
  }
}