.article__container {
  max-width: 300px;
  margin: 0 auto;
}

.article-content {
  list-style-type: disc;
  margin-bottom: 1rem;
  list-style-position: outside;

  img {
    padding-bottom: 30px;
  }

  h1, h2 {
      font-family: os6;
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    h3 {
      font-family: os5;
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    h4 {
      font-family: os4;
      font-size: 1.9rem;
      padding-bottom: 30px;
    }
  
    h5 {
      font-family: os4;
      font-size: 1.4rem;
      padding-bottom: 30px;
    }
  
    p,
    li {
      font-family: os3;
      font-size: 1.5rem;
    }

    ul li::marker {
      color: var(--marker-color);
    }
}

.article {
  .header-content-list {
    li {
      &::marker {
        color: var(--marker-color);
      }
    }
  }
}

.article-section {
  padding: 30px 0;
}

.article-section--with-bg {
  padding: 24px; 
  border-radius: 20px; 
}

.article-title {
  padding-bottom: 30px;
}

.quotes {
  border-left: solid, 6px;
  padding-left: 26px;
}

@media (min-width: 360px) {
  .article__container {
    max-width: 330px;
  }
}

@media (min-width: 400px) {
  .article__container {
    max-width: 370px;
  }
}
@media (min-width: 500px) {
  .article__container {
    max-width: 470px;
  }
}

@media (min-width: 600px) {
  .article__container {
    max-width: 550px;
  }
}

@media (min-width: 900px) {
  .article__container {
    max-width: 850px;
  }
  
  .article-section--with-bg {
    padding: 50px;
  }
}

@media (min-width: 1200px) {
  .article__container {
      max-width: 1170px;
    }

  .article-section {
    padding: 60px 0;
  }

  .article-section--with-bg {
    padding: 50px;
  }
}