footer {
    background-color: $ms-color-bg-dark;
    width: 100%;
    color: white;

    h2 {
        font-size: 1.5rem;

        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
    }

    .text-center {
        margin-right: 0;
    }

    .footer-link {
        font-size: 1.5rem;
        font-family: os3;

        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
    }

    p {
        padding-top: 2rem;
        margin-top: 0.5rem;
        color: #aaa;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease;

        &:hover {
            color: #fafafa;
        }
    }

    .icon-container {
        margin-top: 0rem;
        justify-content: center;
        align-items: end;
        gap: 1rem 0rem;

        @include media-breakpoint-down(md) {
            margin-top: 2rem;
            align-items: start;

            div:first-child {
                flex-grow: 1;
                max-width: 42%;
                padding-left: 0.7rem;
            }

            div:last-child {
                flex-grow: 1;
                max-width: 58%;
            }
        }
    }

    .copyright {
        justify-content: start !important;
        margin-bottom: 0;
        opacity: 0.6;
    }
}
