.list-with-icons {
  display: grid;
  grid-template-columns: 1fr;
  /* по умолчанию — одна колонка */
  column-gap: 1.5rem;
  row-gap: 2.5rem;
}

/* начиная с 576px (sm) — две колонки */
@media (min-width: 768px) {
  .list-with-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: $column-x-gap;
  // row-gap: 2.5rem;

  // @include media-breakpoint-down($base-breakpoint) {
  //   grid-template-columns: 1fr;
  // }

  // li {
  //   display: grid;
  //   grid-template-columns: auto 1fr;
  //   gap: 1.5rem;
  //   align-items: start;
  //   align-self: stretch;
  //   height: 100%;
  // }

  // h3 {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }

  // p {
  //   @extend %p-smaller;
  // }

  // &.extended {
  //   grid-template-columns: repeat(3, 1fr);
  //   row-gap: 5rem;

  //   li {
  //     grid-template-rows: min-content;
  //     grid-template-columns: 1fr;
  //     gap: map-get($section-y-gap, "xxs");
  //   }

  //   h3 {
  //     margin-bottom: 1rem;
  //   }

  //   @include media-breakpoint-down($base-breakpoint) {
  //     grid-template-columns: repeat(2, 1fr);
  //   }

  //   @include media-breakpoint-down(md) {
  //     grid-template-columns: 1fr;
  //     row-gap: 1.5rem;

  //     li {
  //       padding: 3rem;
  //       border-radius: 38px;
  //       background: #f8f8f8;
  //     }

  //     .icon {
  //       order: 3;
  //     }
  //   }
  // }
