@import "@/sass/atom/color.scss";

.ms-navbar {
    $navbar-height-lg: 75px;

    @extend .navbar;

    font-size: 1.6rem;
    height: $navbar-height-lg;

    @include media-breakpoint-down(lg) {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        height: auto;
    }

    .dropdown-menu-end {
        right: 0;
        left: auto;
    }
    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        margin-top: 0;
    }
    .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .dropdown-menu.fade-up {
        top: 180%;
    }
    .nav-item:hover .dropdown-menu {
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }

    @include media-breakpoint-down(lg) {
        .navbar-nav {
            width: max-content;
        }
        .nav-item:focus-visible {
            transition: 0.3s;
            opacity: 1;
            visibility: visible;
            top: 100%;
            transform: rotateX(0deg);
        }
    }
    .ms-navbar-brand {
        @extend .navbar-brand;

        img {
            height: $navbar-height-lg;
        }

        @include media-breakpoint-down(lg) {
            img {
                height: 52px;
            }
        }
    }

    .navbar-toggler {
        position: relative;
        height: 40px;
        width: 40px;

        &:focus,
        &:active {
            border: none;
            outline: none;
            box-shadow: none;
        }

        &:active {
            &::before {
                content: "";
                z-index: -1;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 10px;
                border-radius: 50%;
                background: #fafafa;
            }
        }
    }

    .nav-link {
        font-family: os4;
        font-size: 1.5rem;
        padding-right: 3rem;
        padding-left: 3rem;
        color: #212529;

        @include media-breakpoint-down(lg) {
            padding: 1rem;
        }

        &:hover {
            color: #276ea3;
            background: transparent;
        }

        &:focus,
        &:active {
            border: none;
            outline: none;
        }

        .show {
            display: block;
        }
    }

    .dropdown ul {
        border: none;
        border-radius: 0px;
        padding: 0.5rem;
        border-radius: 8px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
        right: auto;
        left: auto;
        @include media-breakpoint-down(lg) {
            position: absolute;
        }
    }
}
