@import "@/sass/atom/base-new-vars";

.new-page-header {
    h1,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    h1:not(:only-child) {
        margin-bottom: 1.3rem;
    }

    h2 {
        // = h3 from .ms-base-new
        font-size: 1.7rem;
        font-family: os5;
        color: $ms-color-text-darker;
        line-height: 159%;
    }

    h6 {
        // = p from .ms-base-new
        line-height: 152%;
        color: #595959;
        font-family: os3;
        font-size: 1.5rem;
    }

    .col {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .col {
        row-gap: map-get($section-y-gap, "xxs");
    }

    .headings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.5rem;
        min-width: 360px;

        ul {
            list-style: disc;
            text-align: left;
            max-width: 526px;
            margin-bottom: 1.3rem;
            margin-left: 1.8rem;
        }
        li {
            margin-bottom: 0.5rem;
        }

        @include media-breakpoint-down($base-breakpoint) {
            min-width: auto;
        }

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    @include media-breakpoint-down($base-breakpoint) {
        .col {
            flex-direction: column;
            row-gap: 0;
            align-items: start;
        }
    }

    .row-items {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    @media (max-width: 992px) {
        .row-items{
            margin: 0 auto;
        }
    }

    .header-image {
        @extend .img-fluid;
        @extend .mx-auto;

        @include media-breakpoint-down($base-breakpoint) {
            margin: 0;
        }
        @include media-breakpoint-down(sm) {
            transform: translate(8.5rem, -1rem) scale(1.3);
            margin-bottom: 5rem;
        }
        @include media-breakpoint-down(m) {
            transform: translate(8.5rem, -4rem);
        }
        @include media-breakpoint-up(lg) {
            transform: none;
        }
    }

    .mid-position{
        @media (max-width: 992px) {
            transform: translate(0rem, 0rem) !important;
            margin-top: 5rem;
        }
    }
}