// General

$base-breakpoint: #{lg};

// Gaps

$column-x-gap: 1.5rem; // necessary for correct layout

$section-y-gap: (
  "l": 8.8rem, // 112
  "m": 7.7rem, // 96
  "s": 6.6rem, // 82
  "xs": 4.4rem, // 56
  "xxs": 4rem // 48
);

// App Colors

$emotion-colors: (
  "main": #AD43D7,
  "main-filter": invert(43%) sepia(46%) saturate(7466%) hue-rotate(265deg) brightness(90%) contrast(85%),
  "hover": #C17ADD,
  "active": #780BA3,
  "bg": map-get($bgs-new, "violet")
);