// General

$base-breakpoint: #{lg};

// Gaps

$column-x-gap: 1.5rem; // necessary for correct layout

$section-y-gap: (
    "l": 8.8rem,
    // 112
    "m": 7.7rem,
    // 96
    "s": 6.6rem,
    // 82
    "xs": 4.4rem,
    // 56
    "xxs": 4rem,
    // 48
);

// App Colors

$bgs-new: (
    "violet": #ede1ff,
    "yellow": #fff9e3,
    "green": #e8fae0,
    "orange": #fde3cb,
    "blue": #d6e3fc,
    "aqua": #d6f7fc,
    "gray": #f4f4f4,
    "new-gray": #F4F5F8,
    "pink":#FAEBFF
    // "gray": $ms-color-bg-secondary,
);

$emotion-colors: (
    "main": #ad43d7,
    "main-filter": invert(43%) sepia(46%) saturate(7466%) hue-rotate(265deg) brightness(90%) contrast(85%),
    "hover": #c17add,
    "active": #780ba3,
    "bg": map-get($bgs-new, "violet"),
);

$vitamin-colors: (
    "main": #0066cc,
    "main-filter": invert(22%) sepia(97%) saturate(4223%) hue-rotate(199deg) brightness(95%) contrast(101%),
    "bg": map-get($bgs-new, "blue"),
);

$bodymass-colors: (
    "main": #0066cc,
    "main-filter": invert(62%) sepia(95%) saturate(430%) hue-rotate(1deg) brightness(102%) contrast(102%),
    "bg": map-get($bgs-new, "new-gray"),
);

$waist-colors: (
    "main": #F4F5F8,
    "main-filter": invert(22%) sepia(97%) saturate(4223%) hue-rotate(199deg) brightness(95%) contrast(101%),
);

$bodyzinc-colors: (
    "main": #72e79633,
    "main-filter": invert(83%) sepia(27%) saturate(690%) hue-rotate(79deg) brightness(93%) contrast(96%),
);

$careers-colors: (
    "main": #248ce1, 
    "main-filter": brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2732%) hue-rotate(202deg) brightness(92%) contrast(106%),
    "hover": #0a58ca,
);

$electrolyte-colors: (
    "main": #8079CC, 
    "main-filter": brightness(0) saturate(100%) invert(45%) sepia(30%) saturate(500%) hue-rotate(220deg) brightness(100%) contrast(105%),
    "hover": #6760b7, 
    "bg":map-get($bgs-new, "new-gray"),
);

$body-size-breakpoints: (
  "wide": 1170px,
  "medium": 800px
);

