// General

$base-breakpoint: #{lg};

// Gaps

$column-x-gap: 1.5rem; // necessary for correct layout

$section-y-gap: (
  "l": 8.8rem, // 112
  "m": 7.7rem, // 96
  "s": 6.6rem, // 82
  "xs": 4.4rem, // 56
  "xxs": 4rem // 48
);

// App Colors

$bgs-new: (
  "violet": #EDE1FF,
  "yellow": #FFF9E3,
  "green": #E8FAE0,
  "orange": #FDE3CB,
  "blue": #D6E3FC,
  "aqua": #D6F7FC,
  "gray": $ms-color-bg-secondary,
);


$emotion-colors: (
  "main": #AD43D7,
  "main-filter": invert(43%) sepia(46%) saturate(7466%) hue-rotate(265deg) brightness(90%) contrast(85%),
  "hover": #C17ADD,
  "active": #780BA3,
  "bg": map-get($bgs-new, "violet")
);