// Element Background 
$ms-color-bg-secondary: #F4F4F4;
$ms-color-bg-dark: #2A3F54;

$bgs-new: (
  "violet": #EDE1FF,
  "yellow": #FFF9E3,
  "green": #E8FAE0,
  "orange": #FDE3CB,
  "blue": #D6E3FC,
  "aqua": #D6F7FC,
  "gray": $ms-color-bg-secondary,
);

// Text 
$ms-color-text-dark: #466382;
$ms-color-text-darker: #444444;
$ms-color-text-gray: #8A8A8A;
$ms-color-text-black: #212529;
$ms-color-text-orange: #BF4803;
$ms-color-text-blue: #276EA3;
$ms-color-text-blue-light: #4A91C5;

// Button
$ms-color-button:#FF7214;
$ms-color-button-hover:#0066CC;
$ms-color-button-active:#336699;