// Element Background
$ms-color-bg-secondary: #f4f4f4;
$ms-color-bg-dark: #2a3f54;
$footer-bg-gray: #3E454B;

// Text
$ms-color-text-dark: #466382;
$ms-color-text-darker: #444444;
$ms-color-text-gray: #8a8a8a;
$ms-color-text-black: #212529;
$ms-color-text-orange: #bf4803;
$ms-color-text-blue: #276ea3;
$ms-color-text-blue-light: #4a91c5;
$ms-color-text-gray-darker: #595959;

// Button
$ms-color-button: #0066c9;
$ms-color-button-new: #1686FF;
$ms-color-button-hover: #0051a0;
$ms-color-button-active: #336699;
