@import "font-vector.scss";

@font-face {
    font-family: os3;
    src: url(../font/rubik-v12-300.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: os4;
    src: url(../font/rubik-v12-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: os5;
    src: url(../font/rubik-v12-500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: os6;
    src: url(../font/rubik-v12-600.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

:root {
    /* Heading H1 */
    --ms-h1-font-family: os6, sans-serif;
    --ms-h1-font-size: clamp(2rem,
            calc(1.8rem + max(1.5dvw, 1.5dvh)),
            4rem);
    /* Paragraph P */
    --ms-p-font-family: os3, sans-serif;
    --ms-p-font-size: 1.5rem;
}

h1 {
    font-family: var(--ms-h1-font-family);
    font-size: var(--ms-h1-font-size);
}

p {
    font-family: var(--ms-p-font-family);
    font-size: var(--ms-p-font-size);
}


// @font-face {
//     font-family: os7;
//     src: url(../font/rubik-v12-700.woff2) format("woff2");
//     font-weight: 700;
//     font-style: normal
// }
