.link-button-plain {
  max-width: fit-content;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background-color: rgb(22, 134, 255);
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 12px 0;
  text-align: center;
}

