<!DOCTYPE html>
<html lang="hi" translate="no">

<head>
    <title>LogVitamin - विटामिन ट्रैकर</title>
    <meta name="description" content="ऐप्पल हेल्थ में सभी रिकॉर्ड्स का उपयोग करने के लिए आसान ऐप्पल वॉच पर सबसे महत्वपूर्ण विटामिन की खपत को ट्रैक करें। बिना विज्ञापनों के फ्री ऐप।">
    <link rel="canonical" href="https://martspec.com/ru/logvitamin" />

    <!-- Language Support -->
    <link rel="alternate" hreflang="x-default" href="https://martspec.com/hi/logvitamin" />
    <link rel="alternate" hreflang="en" href="https://martspec.com/logvitamin" />
    <link rel="alternate" hreflang="ar" href="https://martspec.com/ar/logvitamin" />
    <link rel="alternate" hreflang="de" href="https://martspec.com/de/logvitamin" />
    <link rel="alternate" hreflang="en" href="https://martspec.com/en/logvitamin" />
    <link rel="alternate" hreflang="es" href="https://martspec.com/es/logvitamin" />
    <link rel="alternate" hreflang="fr" href="https://martspec.com/fr/logvitamin" />
    <link rel="alternate" hreflang="hi" href="https://martspec.com/hi/logvitamin" />
    <link rel="alternate" hreflang="ja" href="https://martspec.com/ja/logvitamin" />
    <link rel="alternate" hreflang="pt" href="https://martspec.com/pt/logvitamin" />
    <link rel="alternate" hreflang="ru" href="https://martspec.com/ru/logvitamin" />
    <link rel="alternate" hreflang="zh" href="https://martspec.com/zh/logvitamin" />

    <!-- Open Graph support -->
    <meta property="og:site_name" content="Martspec" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="hi_IN" />
    <meta property="og:url" content="https://martspec.com/hi/logvitamin" />
    <meta property="og:title" content="LogVitamin - विटामिन ट्रैकर" />
    <meta property="og:image" content="https://martspec.com/img/p_vitamin.png" />
    <meta property="og:description" content="Apple वॉच पर 8 महत्वपूर्ण विटामिन खपत का ट्रैक, ऐप्पल हेल्थ में सभी रिकॉर्ड रखें।" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@MartspecCom" />
    <meta name="twitter:title" content="LogVitamin - विटामिन ट्रैकर" />
    <meta name="twitter:description" content="Apple वॉच पर 8 महत्वपूर्ण विटामिन खपत का ट्रैक, ऐप्पल हेल्थ में सभी रिकॉर्ड रखें।" />

    <!--============== Generic ==============-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="author" content="Martspec LLC">

    <!-- Google, Bingo and other Bots -->
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <!-- Apple -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />

    <!-- Fav Icons -->
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icon/favicon-48x48.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#d2fff7">
    <meta name="application-name" content="martspec">
    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icon/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="/icon/apple-touch-icon-1024x1024.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="martspec">
    <link rel="apple-touch-startup-image"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-640x1136.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-750x1334.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-828x1792.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1125x2436.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1242x2208.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1242x2688.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1536x2048.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1668x2224.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1668x2388.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-2048x2732.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        href="/icon/apple-touch-startup-image-1620x2160.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-1136x640.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-1334x750.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-1792x828.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2436x1125.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2208x1242.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2688x1242.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2048x1536.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2224x1668.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2388x1668.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2732x2048.png">
    <link rel="apple-touch-startup-image"
        media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
        href="/icon/apple-touch-startup-image-2160x1620.png">
    <link rel="icon" type="image/png" sizes="228x228" href="/icon/coast-228x228.png">
    <meta name="msapplication-TileColor" content="transparent">
    <meta name="msapplication-TileImage" content="/icon/mstile-144x144.png">
    <meta name="msapplication-config" content="/icon/browserconfig.xml">
</head>

<body style="height: 100%">
    <noscript>Включите JavaScript для просмотра информации о 8 наиболее важных витаминов и учета их приема непосредственно с Ваших умных часов Apple Watch.</noscript>
    <div id="root" style="height: 100%"></div>
</body>

</html>