<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="author" content="Martspec LLC">

  <!-- Search Engines: keywrods max = 20 phrases, description = 160chars, title = 70 char  -->
  <title>Simplify health & wellness tracking</title>
  <meta name="description"
    content="Focus on your overall health and wellness by letting you easily track your body mass, waist circumference, essential vitamins and minerals consumption with Apple Watch Martspec Apps.">
  <link rel="canonical" href="https://martspec.com" />

  <!-- Google, Bingo and other Bots -->
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta name="yandex-verification" content="7bed02dd516e3d48" />
  <!-- <meta name="google-site-verification" content="f3K85KX6GwSjP3dUnsA9bG086GHbzHA_QcUC_-5aBMw" /> -->

  <!-- Language Support -->
  <link rel="alternate" hreflang="x-default" href="http://martspec.com" />
  <link rel="alternate" hreflang="en" href="http://martspec.com" />

  <!-- Apple -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />

  <!-- Open Graph support -->
  <meta property="og:site_name" content="Martspec" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="http://martspec.com" />
  <meta property="og:title" content="Simplify health & wellness tracking" />
  <!-- <meta property="og:image" content="https://recruiter.reviews/icon/android-chrome-256x256.png" /> -->
  <meta property="og:description"
    content="Focus on your overall health and wellness by letting you easily track your body mass, waist circumference, essential vitamins and minerals consumption." />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@" />
  <meta name="twitter:title" content="Simplify health & wellness tracking" />
  <meta name="twitter:description"
    content="Focus on your overall health and wellness by letting you easily track your body mass, waist circumference, essential vitamins and minerals consumption." />


</head>

<body style="height: 100%">
  <noscript>Enable JavaScript to run this app.</noscript>
  <div id="root" style="height: 100%;"></div>
</body>

</html>