<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Alex Protyagov">
    <meta name="creator" itemprop="publisher" content="Clarion UX">

    <!-- Search Engines: keywrods max = 20 phrases, description = 160chars, title = 70 char  -->
    <title>Recruiter Reviews</title>
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="AgentSpec LLC">

    <!-- Language Support -->
    <link rel="alternate" hreflang="x-default" href="https://elm.pennwell.net/" />
    <link rel="alternate" hreflang="en" href="https://elm.pennwell.net/" />

    <!-- Apple -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
</head>


<body>
    <div id='root'/>
</body>

</html>
