.card-body-metric {
    padding: 2.31rem;
    gap: 1.54rem;
    position: relative;
    overflow: hidden;

    .title {
        font-family: os5, sans-serif;
        font-size: 1.54rem;
        color: #151515;
        opacity: 60%;
    }

    .card-action {
        .text-link-arrow  {
            font-size: 1.4rem !important;  
        }
      
    }
}
