@import "@/sass/atom/base-new-vars";

.title-text-link-card {
    position: relative;
    height: 100%;
    padding: 2.75rem;
    border-radius: 1.5rem;
    overflow: hidden;
    
    > img {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        right: 0;
        z-index: 0;
    }

    &.shadow {
        box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
    }

    &.bordered {
        border: 1px solid #212529; 
    }
}

.electrolyte-card-style{
    > img {
        top: 10%;
        right: -10%
    }

    @media (min-width: 650px) and (max-width: 1400px) {
        > img {
            width: 28rem;
            height: auto;
            object-fit: cover;
        }
    }
}