.title-text-link-card {
    position: relative;
    height: 100%;
    padding: 2.75rem; // 32px. Doesn't work because ms-base-new priority is higher

    overflow: hidden;

    * {
        position: relative;
        z-index: 1;
    }

    a {
        margin-top: auto;
        font-size: 1rem; // 12px
        font-weight: 600;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.8333rem;
        transition: all 0.4s ease;

        > span {
            line-height: 1.167rem;
        }

        &::after {
            content: "";
            width: 0%;
            height: 0.0833rem;
            position: absolute;
            left: 0;
            top: 110%;
            transition: all 0.4s;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    > img {
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        right: 0;
        z-index: 0;
    }
}
