.vit-item {
  background-color: #fbf8f7;
  border: 1px solid #cfcbcb;
  border-top: none;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  text-decoration: none;
  color: $ms-color-text-black;

  display: grid;
  grid-template: "vit-name vit-desc vit-arrow"auto / 20% 1fr 8%;
  gap: 0.5rem;

  &>* {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-down(lg) {
    grid-template:
      "vit-name vit-arrow"auto "vit-desc ."auto / 1fr 8%;
    padding: 1rem 5% 1.6rem;
  }

  @include media-breakpoint-down(md) {
    padding: 1rem calc(10% + 0.5rem) 1.6rem; // .ms-s-offset + bootstrap column offset

    border-right: none !important;
    border-left: none !important;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem calc(5% + 0.5rem) 1.6rem;
  }

  .vit-name {
    grid-area: vit-name;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 0 2vw;

    &-short {
      font-family: os6;
      font-size: 4rem;
      line-height: 110%;
      justify-content: center;
    }

    &-long {
      color: $ms-color-text-gray;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: row;
      justify-content: start;
      align-items: baseline;

      text-align: start;

      &-long {
        margin-left: 1rem;
      }
    }
  }

  .vit-desc {
    grid-area: vit-desc;
  }

  .vit-arrow {
    grid-area: vit-arrow;

    a {
      height: 100%;
      width: 100%;

      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    path {
      color: $ms-color-button;
      transition: color 0.2s;
    }

    &:hover {
      path {
        color: $ms-color-button-hover;
      }
    }
  }
}