.title-text-link-card {
  position: relative;
  height: 100%;
  padding: 2.75rem;
  border: 1px solid #212529;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0392156863), 0px 0px 4px 0px rgba(0, 0, 0, 0.0588235294);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0392156863), 0px 0px 4px 0px rgba(0, 0, 0, 0.0588235294);
  overflow: hidden;
}
.title-text-link-card * {
  position: relative;
  z-index: 1;
}
.title-text-link-card a {
  margin-top: auto;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #248CE1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.8333rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.title-text-link-card a > span {
  line-height: 1.167rem;
}
.title-text-link-card a::after {
  content: "";
  width: 0%;
  height: 0.0833rem;
  background-color: #0A58CA;
  position: absolute;
  left: 0;
  top: 110%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.title-text-link-card a:hover {
  color: #0A58CA;
}
.title-text-link-card a:hover > img {
  -webkit-filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2732%) hue-rotate(202deg) brightness(92%) contrast(106%);
          filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2732%) hue-rotate(202deg) brightness(92%) contrast(106%);
}
.title-text-link-card a:hover::after {
  width: 100%;
}
.title-text-link-card > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  right: 0;
  opacity: 20%;
  z-index: 0;
}